.btn {
  cursor: pointer;
  border: none;
  outline: none;
}

.type-1 {
  background-color: #d87d4a;
  border: none;
  transition: all 0.3s ease;
  width: 160px;
  height: 48px;
  color: #fff;
}

.type-1:hover {
  background-color: #fbaf85;
}

.type-2 {
  background-color: transparent;
  border: 1px solid #000;
  transition: all 0.3s ease;
  width: 160px;
  height: 48px;
  color: #000;
}

.type-2:hover {
  background-color: #000;
  color: #fff;
}

.type-3 {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
  width: 160px;
  height: 48px;

  color: #fff;
}

.type-3:hover {
  background-color: #fff;
  color: #000;
}

.type-4 {
  width: 58px;
  height: 18px;
  color: #00000050;

  .arrow-link {
    color: #d87d4a;
  }

  
}
.type-5{
    width: 58px;
    height: 18px;
    color: #000;
    background-color: #fff;
    font-size: 15px;
    margin-bottom: 50px;
  }

  .type-5:hover{
    color: #d87d4a;
  }