.navbar{
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #535353;
  margin: 0 auto;
  max-width: 1110px;
  width: 88%;
  .nav-links{
    display: flex;

    .link-item{
      list-style-type: none;
      margin: 0 10px;
      letter-spacing: 2px;
    }

    .link-item a {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
    }
  }

  .cart-icon{
    cursor: pointer;
    background-image: url("/assets/shared/desktop/icon-cart.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    color: #fff;
    position: relative;
    .item-counter{
      padding: 2px 0 0 0;
      width: 20px;
      height: 20px;
      font-size: 12px;
      align-items: center;
      text-align: center;
      background-color: #d87d4a;
      border-radius: 100%;
      align-items: center;
      position: relative;
      left: 10px;
      top: 10px;
    }
  }
}