.footer {
  background-color: #101010;
  height: auto;
  @media (max-width: 700px) {
  text-align: center;
  }
  .footer-content {
    position: relative;
    padding-bottom: 50px;
    &:after {
      content: " ";
      background-color: #d87d4a;
      position: absolute;
      top: 0;
      width: 100px;
      height: 5px;
      @media (max-width: 700px) {
       margin: 0 auto;
       left: 0;
       right: 0;
      }
    }

    .footer-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.5rem 0 3rem 0;
      @media (max-width: 1000px) {
        display: block;
      }
      @media (max-width: 700px) {
       padding-bottom: 20px;
      }
      .footer-links {
        display: flex;
        list-style: none;
        @media (max-width: 1000px) {
          margin-top: 30px;
        }
        @media (max-width: 700px) {
          display: block;
        }
        .footer-link-item {
          margin-left: 20px;
          @media (max-width: 1000px) {
            margin: 0 20px 0 0;
          }
          @media (max-width: 700px) {
            margin: 0 0 20px 0;
          }
          a {
            text-decoration: none;
            color: #fff;
            font-size: 13px;
            letter-spacing: 2px;
          }
        }
      }
    }
    .footer-desc {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem;
      line-height: 25px;
      flex-wrap: wrap;
      @media (max-width: 700px) {
        display: block;
        padding-bottom: 30px;
      }
      .footer-text {
        color: #ffffff79;
        width: 48%;
        @media (max-width: 700px) {
         margin: 0 auto;
         width: 100%;
        }
      }

      .social-media {
        width: 48%;
        align-self: end;
        flex: 50%;
        text-align: right;
        @media (max-width: 700px) {
          margin-top: 40px;
       text-align: center;
       width: 100%;
        }
        .social-icon {
          width: 24px;
          height: 24px;
          color: #fff;
          margin-left: 15px;
          cursor: pointer;
          @media (max-width: 700px) {
         margin: 0 20px;
          }
        }
      }
    }

    .copyright {
      color: #ffffff79;
      font-size: 15px;
      font-weight: 700;
    }
  }
}
