.footer {
  background-color: #101010;
  height: 365px;

  .footer-content {
    position: relative;

    .footer-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.5rem 0 3rem 0;

      .footer-links {
        display: flex;
        list-style: none;

        .footer-link-item {
          margin-left: 20px;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 13px;
            letter-spacing: 2px;
          }
        }
      }
    }
    .footer-desc {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem;
      .footer-text {
        color: #ffffff79;
        width: 48%;
      }

      .social-media {
        width: 48%;
        align-self: end;
        flex: 50%;
        text-align: right;
        .social-icon {
          width: 24px;
          height: 24px;
          color: #fff;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }

    .copyright {
      color: #ffffff79;
      font-size: 15px;
      font-weight: 700;
    }
  }
  .footer-content:after {
    content: " ";
    background-color: #d87d4a;
    position: absolute;
    top: 0;
    width: 100px;
    height: 5px;
  }
}
