.checkout-modal {
  background-color: #fff;
  border-radius: 10px;
  max-width: 540px;
  width: 100%;
  padding: 40px;
  @media (max-width: 540px) {
    border-radius: 0;
    height: 100vh;
    overflow: auto;
    position: fixed;
    left: 0;
  }
  .checkout-img {
    width: 64px;
    margin-bottom: 20px;
  }

  .thanks-title {
    font-size: 32px;
    line-height: 36px;
  }

  .confirm-desc {
    color: #898989;
    font-size: 15px;
    margin: 20px 0;
  }
  .items-summary {
    display: flex;
    @media (max-width: 540px) {
      display: block;
    }
    .items-list {
      border-radius: 10px 0 0 10px;
      width: 60%;
      background-color: #f1f1f1;
      padding: 20px;
      @media (max-width: 540px) {
        border-radius: 10px 10px 0 0 ;
       width: 100%;
      }
      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .item-cart-info {
          display: flex;
          align-items: center;
          .item-cart-img {
            width: 64px;
            height: 64px;
            border-radius: 10px;
          }
          .item-cart-desc {
            margin-left: 10px;
            font-size: 16px;
            .name {
              font-weight: 700;
              margin-bottom: 5px;
            }
            .price {
              color: #898989;
            }
          }
        }
        .summary-item-count {
          color: #898989;
        }
      }
    }
  }
  .grand-total {
    background-color: #000;
    width: 40%;
    border-radius: 0 10px 10px 0;
    display: flex;
    padding: 30px 20px;
    @media (max-width: 540px) {
      width: 100%;
         border-radius: 0 0 10px 10px ;
         text-align: center;
     }
    .total-info {
      align-self: end;
      flex: 50% 1;
      .total-title {
        color: #898989;
      }

      .total-cost {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  button {
    width: 100%;
    margin-top: 30px;
  }
}
