.checkout-container {

  .modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000075;
    padding-top: 10px;
    margin: 0 auto;
    @media (max-width: 540px) {
      padding-top: 0;
    }
  }
  .checkout-content {
    label {
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 10px;
      display: block;
    }

    input {
      padding: 2px;
      border-radius: 10px;
      border: 1px solid #cfcfcf;
      padding: 10px 20px;
      height: 56px;
      outline: none;
      width: 100%;
      margin-bottom: 20px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input:focus {
      border: 1px solid #d87d4a;
    }

    .label-div {
      display: flex;
      font-size: 12px;
      font-weight: 700;
      justify-content: space-between;
    }

    .error-class {
      color: #cd2c2c;
    }

    .input-error {
      border: 2px solid #cd2c2c;
    }

    h5 {
      font-size: 13px;
      color: #d87d4a;
      margin-top: 35px;
      margin-bottom: 20px;
    }

    ::placeholder {
      color: #a9a9a9;
      font-weight: 400;
    }
    .checkout-navbar {
      background-color: #000;
    }
    .container {
      margin-top: 80px;

      .checkout-form {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1000px) {
          display: block;
        }
        .checkout-div {
          background-color: #e7e7e7;
          border-radius: 10px;
          width: 65%;
          padding: 40px;
          @media (max-width: 1000px) {
            width: 100%;
            margin-bottom: 30px;
          }
          .checkout-title {
            font-size: 32px;
          }

          .billing-details {
            .billing-details-content {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              @media (max-width: 700px) {
                display: block;
              }
              .billing-form-group {
                width: 49%;
                @media (max-width: 700px) {
                  width: 100%;
                }
              }
            }
          }

          .shipping-info {
            .shipping-content {
              .shipping-flex-div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media (max-width: 700px) {
                  display: block;
                }
                .shipping-form-group {
                  width: 49%;
                  @media (max-width: 700px) {
                    width: 100%;
                  }
                }
              }
            }
          }
          .payment-details {
            .payment-content {
              .payment-method-div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media (max-width: 700px) {
                  display: block;
                }
                .payment-form-group {
                  width: 49%;
                  @media (max-width: 700px) {
                    width: 100%;
                  }
                  .payment-method {
                    display: flex;
                    flex-direction: row-reverse;
                    cursor: pointer;
                    background-color: #fff;
                    width: 100%;
                    justify-content: left;
                    border: 1px solid #cfcfcf;
                    border-radius: 10px;
                    height: 56px;
                    padding: 0 20px;
                    margin-bottom: 20px;
                    align-items: center;
                    @media (max-width: 700px) {
                      justify-content: left;
                    }
                    .payment-radio {
                      width: 20px;
                      cursor: pointer;
                      margin: 0 10px 0 0;
                    }

                    .payment-label {
                      width: 150px;
                      cursor: pointer;
                      font-size: 14px;
                      margin: 0;
                    }
                  }
                  .payment-highlight {
                    border: 1px solid #d87d4a;
                  }
                }
              }
              .cash-money-div {
                width: 100%;
                .e-money-div {
                  display: flex;
                  justify-content: space-between;
                  @media (max-width: 700px) {
                    justify-content: left;
                    width: 100%;
                    display: block;
                  }
                  .label-div {
                    display: flex;
                    @media (max-width: 700px) {
                      display: block;
                    }
                  }
                }

                .cash-div {
                  display: flex;
                  align-items: center;
                  @media (max-width: 700px) {
                    text-align: center;
                    display: block;
                  }
                  img {
                    width: 48px;
                    height: 48px;
                    margin-right: 20px;
                    @media (max-width: 700px) {
                      margin: 15px 0;
                    }
                  }

                  p {
                    line-height: 25px;
                    color: #00000079;
                  }
                }
              }
            }
          }
        }

        .summary-div {
          @media (max-width: 1000px) {
            width: 100%;
          }
          .summary-content {
            background-color: #e7e7e7;
            border-radius: 10px;
            padding: 20px;
            .summary-title {
              font-size: 18px;
              margin-bottom: 20px;
            }

            .summary-cart {
              margin-bottom: 30px;
              li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                .summary-cart-info {
                  display: flex;
                  align-items: center;
                  .summary-cart-img {
                    width: 64px;
                    height: 64px;
                    border-radius: 10px;
                  }
                  .summary-cart-desc {
                    margin-left: 10px;
                    font-size: 16px;
                    .name {
                      font-weight: 700;
                      margin-bottom: 5px;
                    }
                    .price {
                      color: #898989;
                    }
                  }
                }
                .summary-item-count {
                  color: #898989;
                }
              }
            }

            .totals-div {
              .subtotal-price,
              .shipping-price,
              .vat-price,
              .grand-total-price {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                h4 {
                  font-size: 15px;
                  color: #898989;
                  font-weight: 500;
                }

                p {
                  font-size: 18px;
                  font-weight: 700;
                }

                .grand-total-color {
                  color: #d87d4a;
                }
              }
            }
          }
          button {
            margin-top: 20px;
            width: 100%;
          }
          width: 30%;
        }
      }
    }
  }
}
